:root {
    --main-bg-color: #1d1e1f;
    --white-bg-color: #f4f4f4;
    --card-color: #242526;
    --heading-white: #ffffff;
    --subheading-white: #b9b9b9;
    --accent-blue: #4ba1af;
    --accent-green: #0D5041;
    --ecotech-gradient: linear-gradient(45deg, rgba(13,80,65,1) 0%, rgba(26,169,213,1) 100%);
    --ecotech-gradient-main-green: linear-gradient(45deg, rgba(13,80,65,1) 48%, rgba(26,169,213,1) 100%);
    --ecotech-gradient-main-blue: linear-gradient(45deg, rgba(13,80,65,1) 0%, rgba(26,169,213,1) 46%);
    --box-shadow: 2px 4px 9px -2px #000000;

}
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
@font-face {
    font-family: "Beon", sans-serif;
    src: url("/resources/font/beon-font/BeonMedium-7Z34.ttf") format("truetype")
  }

body {
    background-color: var(--main-bg-color);
    margin: 0;
}

h1 {
    color: var(--heading-white);
    text-align: center;
    font-size: 1rem;
}

h2 {
    color: var(--heading-white);
    font-size: .9rem;
    font-weight: 200;
}

h3 {
    color: var(--subheading-white);
    font-size: .5rem;
}

h4 {
    color: var(--accent-blue);
    font-size: .5rem;
}

p {
    color: var(--subheading-white);
    font-size: .5rem;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--subheading-white);
}

ul {
    padding: 0;
}

ul li a {
    list-style-type: none;
    font-family: "Beon", sans-serif;
    
}

.button {
    border: 2px solid var(--accent-green);
    padding: 20px;
    border-radius: 50px;  
}

.button:hover {
   border: 2px solid var(--accent-blue);
   transition: ease-in-out 1s;  
}

.category {
    color: var(--accent-blue);
    font-size: .5rem;
}

/*vNavbar mobile */
nav {
    width: 100vw;
}

.navbar {
    height: 60px;
    background-color: var(--card-color);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.menu-left {
   flex: 1;
   padding-left: 20px;
}

.menu-icon {
    width: 25px;
    height: 25px;
    
}

.menu-middle {
    flex: 1;
    display: flex;
    justify-content: center;
}

.mobile-logo {
    width: 120px;
}

.menu-right {
    flex: 1;
}
.navbar-open {
display: none;

}

.toggle {
display: revert;
background-color: var(--card-color);
position: absolute;
width: 100vw; 
}

.menu-item {
    padding: 20px;
}


/*Index.html*/

.index-main-content h1 {
    font-weight: 100;
    font-size: .9rem;
    margin-top: 20px;
    margin-bottom: 0;
}

.newest-posts-container, .new-reviews-container {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.prev, .next, .slide2, .slide3 {
    display: none;
}

.post-card{
    display: flex;
    background-color: var(--card-color);
    height: 90px;
    width: 95vw;
    margin-bottom: 20px;
}


.thumbnail-img {
    width: 30%;
    height: 100%;
    object-fit: cover;
}

.post-content-wrapper {
    padding: 10px;
    padding-top: 0;
}

.post-content-wrapper h2 {
margin-top: 0;
margin-bottom: 5px; 
}

.post-content-wrapper p {
    font-size: .6rem;
}

.heading-newest-reviews {
    text-align: center;
    margin-bottom: 0;
}

/* Contact.html */
.contact-form-container {
    background-color: var(--card-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 90vw;
    padding: 20px;
    margin-top: 50px;
}

.contact-form-container form {
    display: flex;
    flex-direction: column;
    width: 85%;
}

.contact-form-container label {
    color: var(--subheading-white);
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: .9rem;
}

.contact-form-container input {
    background-color: var(--card-color);
    border: .5px solid #707070;
    height: 30px;
    
}

/*Posts.html*/

.posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.posts-card {
    background-color: var(--card-color);
    width: 90vw;
    margin-bottom: 20px;
}

.posts-img {
    width: 100%;
}

.posts-content-wrapper {
    padding: 20px;
}

.posts-content-wrapper span {
    color: var(--accent-blue);
}

/* Post Spesific */
.post-spesific-container {
    background-color: var(--white-bg-color);
    width: 90vw;
    margin: 0 auto;
    padding: 20px;
}

.post-spesific-container h1 {
    color: #000000;
    text-align: left;
}

.post-spesific-container p {
    color: #000000;
}

.post-featured-img {
    width: 100%;
}

