:root {
    --main-bg-color: #1d1e1f;
    --white-bg-color: #f4f4f4;
    --card-color: #242526;
    --heading-white: #ffffff;
    --subheading-white: #b9b9b9;
    --accent-blue: #4ba1af;
    --accent-green: #0D5041;
    --ecotech-gradient: linear-gradient(45deg, rgba(13,80,65,1) 0%, rgba(26,169,213,1) 100%);
    --ecotech-gradient-main-green: linear-gradient(45deg, rgba(13,80,65,1) 48%, rgba(26,169,213,1) 100%);
    --ecotech-gradient-main-blue: linear-gradient(45deg, rgba(13,80,65,1) 0%, rgba(26,169,213,1) 46%);
    --box-shadow: 2px 4px 9px -2px #000000;

}
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
@font-face {
    font-family: "Beon", sans-serif;
    src: url("/resources/font/beon-font/BeonMedium-7Z34.ttf") format("truetype")
  }

body {
    background-color: var(--main-bg-color);
    margin: 0;
}

h1 {
    color: var(--heading-white);
}

h2 {
    color: var(--heading-white);
    font-size: .5rem;
}

h3 {
    color: var(--subheading-white);
    font-size: .5rem;
}

h4 {
    color: var(--accent-blue);
    font-size: .5rem;
}

p {
    color: black;
}

a {
    text-decoration: none;
    color: var(--subheading-white);
}

ul {
    padding: 0;
}

ul li a {
    list-style-type: none;
    font-family: "Beon", sans-serif;
    
}

.button {
    border: 2px solid var(--accent-green);
    padding: 20px;
    border-radius: 50px;  
}

.button:hover {
   border: 2px solid var(--accent-blue);
   transition: ease-in-out 1s;  
}

/*vNavbar mobile */
nav {
    width: 100vw;
}

.navbar {
    height: 60px;
    background-color: var(--card-color);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.menu-left {
   flex: 1;
   padding-left: 20px;
}

.menu-icon {
    width: 25px;
    height: 25px;
    
}

.menu-middle {
    flex: 1;
    display: flex;
    justify-content: center;
}

.mobile-logo {
    width: 120px;
}

.menu-right {
    flex: 1;
}
.navbar-open {
display: none;

}

.toggle {
display: revert;
background-color: var(--card-color);
position: absolute;
width: 100vw; 
}

.menu-item {
    padding: 20px;
}


/*Index.html*/
.newest-posts-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-card-mobile {
    display: flex;
    background-color: var(--card-color);
    height: 100px;
    width: 95vw;
    margin-bottom: 20px;
}


.thumbnail-img {
    width: 30%;
    height: 100%;
    object-fit: cover;
}



.post-content-wrapper {
    padding: 10px;
}




/* Media Query for laptop */

@media screen and (min-width: 1024px){
    .navbar {
        height: 80px;   
    }
    .menu-icon {
       display: none;  
    }
    
    .mobile-logo {
        width: 180px;
    }
    
    .menu-right {
        flex: 1;
    }

    .navbar-open {
        display: revert;
    }

    .navbar-open ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: var(--main-bg-color);
        margin: 0;
        box-shadow: var(--box-shadow);
    }
    
    .menu-item {
        padding: 5px;
        font-size: .9rem;
        list-style-type: none;
    }

    .menu-item:nth-of-type(2) {
        margin-left: 100px;
        margin-right: 100px;
    }
    
}